@media (max-width: 991px) {
  .container {
    max-width: 768px;
  }
  .header {
    &__logo {
      width: 180px;
    }
    &__centr-top {
      font-weight: 500;
      font-size: 11px;
    }
    &__centr-bottom {
      font-weight: 500;
      font-size: 14px;
    }
    &__phone {
      display: block;
      font-weight: 700;
      font-size: 14px;
    }
    .button {
        font-weight: 500;
        font-size: 11px;
        width: 133px;
        height: 28px;
    }
  }
  .promo{
    &__wrapper {
        margin-top: 90px;
        align-items: center;
      }  
    &__header {
        font-size: 36px;
      }
      &__subheader {
        font-size: 20px;
      }
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 576px;
  }
}
