@import "var";
@import "mixins";

* {
  font-family: "Museo Sans Cyrl", sans-serif;
  font-weight: 300;
}
.container {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 10px;
}
@import "components";
@import "promo";
@import "media";
